# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# ASP.NET
appsettings.*.json
!appsettings.json

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store
